            /****MENUS RESTAURANTs****/

.img-head {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

/******MENUS******/
.menu-restaurant {
    background-color:#f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-top: -60px;

    @include desktop {
        @include size-desktop;
        margin-top: -30px;
    }

    .restaurant {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 32px 41px 40px 17px;
        
        @include desktop {
            justify-content: center;
            margin: 51px 0 40px 0;
            gap: 24px;
        }

        .heart-icon {
            margin: 0px;
        }
    }
}

.menu {
    
    margin: 0 17px 40px 17px;

    @include desktop {
        margin-left: 210px;
        margin-right: 210px;
    }

    .card-plat {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 15px;
        margin-top: 12px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);
    
        .text-plat {
            width: calc(100% - 30px);
            padding: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .descript {
                margin: 5px 0 0 0;
                font-size: 0.9rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .tarif {
            margin: 5px 0 0 0;
            font-size: 0.9rem;
            font-weight: 700;
            color: #353535;
            align-self: flex-end;
            padding: 15px;
        }

        .check-plat {
            height: 72px;
            width: 0;
            background-color: $color-tertiary;
            @include align-center;
            justify-content: center;
            border-radius: 0 15px 15px 0;
            overflow: hidden;
            transition: all 500ms;
            opacity: 0;

            .check {
                color: white;
                font-size: 1.5rem;
            }

        }

        &:hover {
            .check-plat {
                width: 68px;
                opacity: 1;
            }

            .check {
                animation: check 600ms linear;

            }
        }
    }
}

.button {
    display: flex;
    justify-content: center;

    .order {
        width: 186px;
        margin-bottom: 40px;
        border: none;
        @include gradient-btn;
        cursor: pointer;
    }

}