* {
    font-family: $font-texts;
}

/******EXPLORER******/
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, rgba(212, 212, 212, 1)0%, rgba(234, 234, 234, 1)10%);

    i {
        color: #353535;
    }

    .explorer-location {
        background-color: transparent;
        border: none;
        color: #353535;
        width: 110px;
        font-weight: 500;
        font-size: 1rem;

        &::placeholder {
            color: #353535;
        } 
    }
    }

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding-top: 39px;
    padding-bottom: 57px;

    &-title {
        font-size: 1.5rem;
        text-align: center;
        margin: 0px 58px;
    }

   &-discover {
        text-align: center;
        margin: 16px 34px 27px 34px;
   }

   &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 218px;
        height: 50px;
        background: linear-gradient(193deg , $color-primary -11.44%, $color-secondary 123.93%);
        color: white;
        text-decoration: none;
        border-radius: 50px;
        font-weight: 500;
   }
}

/******FONCTIONNEMENT******/
.fonctionnement {
    padding-top: 48px;
    padding-left: 20px;
    padding-bottom: 68px;

   &-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
   } 

    @include title-accueil;

    @include fonctionnement;

    #store {
        color: $color-primary;
    }
}

/******RESTAURANT******/
