* {
    font-family: $font-texts;
}

/******EXPLORER******/
.form {
    @include align-center;
    justify-content: center;
    gap: 17px;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, rgba(212, 212, 212, 1)0%, rgba(234, 234, 234, 1)10%);

    i {
        color: #353535;
    }

    .explorer-location {
        background-color: transparent;
        border: none;
        color: #353535;
        width: 110px;
        font-weight: 500;
        font-size: 1rem;

        &::placeholder {
            color: #353535;
        } 
    }
    }

.reservation {
    @include align-center;
    flex-direction: column;
    background-color: #f6f6f6;
    padding-top: 39px;
    padding-bottom: 57px;

    &-title {
        font-size: 1.5rem;
        text-align: center;
        margin: 0px 58px;
    }

   &-discover {
        text-align: center;
        margin: 16px 34px 27px 34px;
   }

   &-btn {
        @include align-center;
        justify-content: center;
        width: 218px;
        height: 50px;
        background: linear-gradient(193deg , $color-primary -11.44%, $color-secondary 123.93%);
        color: white;
        text-decoration: none;
        border-radius: 50px;
        font-weight: 500;
   }
}

/******FONCTIONNEMENT******/
.fonctionnement {
    padding-top: 48px;
    padding-bottom: 68px;

    &-title {
        margin: 0 0 26px 20px;
    }

    &-btns {
        @include align-center;
        flex-direction: column;
        gap: 25px;
        padding: 0 33px 0 20px;
   } 

   &-btn {
        @include align-center;
        width: 100%;
        height: 72px;
        background-color: #f6f6f6;
        border-radius: 25px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
   }

    .number {
        transform: translate(-12px);
        background-color: $color-primary;
        color: white;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        @include align-center;
        justify-content: center;
        font-size: 0.88rem;
        font-weight: 500;
    }

    i {
        color: #7e7e7e;
        font-size: 1.2rem;
        padding-bottom: 5px;
    }

    .choice {
        margin-left: 27px;
        font-weight: 500;
    }

    #store {
        color: $color-primary;
    }
}

/******RESTAURANT******/
.restaurants {
    background-color: #f6f6f6;
    padding-top: 54px;
    padding-bottom: 66px;

    &-title {
        margin: 0 0 26px 20px;
    }

    &-list {
        padding: 0 17px;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}

.restaurant-lien {
    text-decoration: none;
        
    .restaurant-card{
        background-color: white;
        border-radius: 15px;
    }

    .restaurant-card > .card-img {
        width: 100%;
        height: 175px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    .new {
        background-color: $color-tertiary;
        color: $color-green;
        padding: 7px 9px;
        font-weight: 500;
        position: absolute;
        transform: translate(-90px, 10px);
    }

    .card-content {
        display: flex;
        justify-content: space-between;
        color: black;

        .content > h3 {
            margin: 16px 0 5px 13px;
            font-weight: 700;
            font-size: 1.1rem;
        }

        .content > p {
            margin: 0 0 12px 13px;
            font-weight: 300;
        }

        i {
            margin: 23px 25px 33px 0;
            font-size: 1.4rem;
            -webkit-text-stroke: 0.05rem white;
        }
    }
}
