/******KEYFRAMES******/
    /***COEUR***/

    /***LOADER***/
@keyframes loader {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes loader-ring {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
} 

@keyframes loader-ring2 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

/******LOADER******/
.loader {
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.80) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    animation: loader 1s 2s both; 

    .item-loader {
        position: absolute;
        border: 10px solid transparent;
        border-top: 10px solid $color-blue-dark;
        border-bottom: 10px solid $color-blue-dark;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: loader-ring 1500ms linear infinite;
    }

    .item-loader2 {
        position: absolute;
        border: 10px solid transparent;
        border-left: 10px solid $color-blue-light;
        border-right: 10px solid $color-blue-light;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: loader-ring2 1500ms linear infinite;
    }
}

/******GENERAL******/
* {
    font-family: $font-texts;
}

/******EXPLORER******/
.form {
    @include align-center;
    justify-content: center;
    gap: 17px;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, rgba(212, 212, 212, 1)0%, rgba(234, 234, 234, 1)10%);

    form > i {
        color: #353535;
    }

    .explorer-location {
        background-color: transparent;
        border: none;
        color: #353535;
        width: 110px;
        font-weight: 500;
        font-size: 1rem;

        &::placeholder {
            color: #353535;
        } 
    }
    }

.reservation {
    @include align-center;
    flex-direction: column;
    background-color: #f6f6f6;
    padding-top: 39px;
    padding-bottom: 57px;

    .reservation-title {
        font-size: 1.5rem;
        text-align: center;
        margin: 0px 58px;
    }

    .reservation-discover {
        text-align: center;
        margin: 16px 34px 27px 34px;
   }

    .reservation-btn {
        @include align-center;
        justify-content: center;
        width: 218px;
        height: 50px;
        background: linear-gradient(193deg , $color-primary -11.44%, $color-secondary 123.93%);
        color: white;
        text-decoration: none;
        border-radius: 50px;
        font-weight: 500;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);

        &:hover {
            opacity: 0.90;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
        }
   }
}

/******FONCTIONNEMENT******/
.fonctionnement {
    padding-top: 48px;
    padding-bottom: 68px;

    .fonctionnement-title {
        margin: 0 0 26px 20px;
    }

    .fonctionnement-btns {
        @include align-center;
        flex-direction: column;
        gap: 25px;
        padding: 0 33px 0 20px;
        }

        .fonctionnement-btn {
            @include align-center;
            width: 100%;
            height: 72px;
            background-color: #f6f6f6;
            border-radius: 25px;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
           
            &:hover{
            background: darken(#f6f6f6, 5);
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
                i {
                    color:$color-primary;
                }
            }
        }

            .number {
                transform: translate(-12px);
                background-color: $color-primary;
                color: white;
                border-radius: 100%;
                width: 24px;
                height: 24px;
                @include align-center;
                justify-content: center;
                font-size: 0.88rem;
                font-weight: 500;
            }

            i {
                color: #7e7e7e;
                font-size: 1.2rem;
                padding-bottom: 5px;
            }
            

            .choice {
                margin-left: 27px;
                font-weight: 500;
            }
}

/******RESTAURANTS******/
.restaurants {
    background-color: #f6f6f6;
    padding-top: 54px;
    padding-bottom: 66px;

    .restaurants-title {
        margin: 0 0 26px 20px;
    }

    .restaurants-list {
        padding: 0 17px;
        display: flex;
        flex-direction: column;
        gap: 18px;

        .restaurant-lien {
            text-decoration: none;
        }
    }
}

        /***RESTAURANTS-CARDS***/
.restaurant-card{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);
    transition: transform 400ms;

    &:hover {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.20);
        transform: scale(1.01);
    }

    .card-img {
        width: 100%;
        height: 175px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    .new {
        background-color: $color-tertiary;
        color: $color-green;
        padding: 7px 9px;
        font-weight: 500;
        position: absolute;
        transform: translate(-90px, 10px);
    }

    .card-content {
        display: flex;
        justify-content: space-between;
        color: black;

        .content > h3 {
            margin: 16px 0 5px 13px;
            font-weight: 700;
            font-size: 1.1rem;
        }

        .content > p {
            margin: 0 0 12px 13px;
            font-weight: 300;
        }
    }
}
        /***RESTAURANTS-HEART***/
.heart-icon {
    margin: 23px 25px 33px 0;
    font-size: 1.4rem;

    .full {
        position: absolute;
        opacity: 0;
        
    }

    &:hover {
        .empty {
            opacity: 0;
            
        }
        
        .full {
            background-size: cover;
            opacity: 1;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            background-image: linear-gradient(180deg, $color-primary 0%, $color-secondary 50%);
        }
    }       
}     