        /***HEART***/
        .heart-icon {
            margin: 23px 25px 33px 0;
            font-size: 1.4rem;
            position: relative;
            top: 1px;
        
            .empty {
                transition: opacity 900ms;
            }
        
            .full {
                position: absolute;
                opacity: 0;
                transition: all 0.5s;
                transform: scale(0);
                
            }
        
            &:hover {
                .empty {
                    opacity: 0;
                    
                }
                
                .full {
                    background-size: cover;
                    opacity: 1;
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    background-image: linear-gradient(180deg, $color-primary 0%, $color-secondary 50%);
                    transform: scale(1);
                    animation: heart 2s 10ms both;
                }
            }       
        } 