/******TIMELINE MENU******/
.card-plat {
    animation: card-plats 2s ease-in-out backwards;
}

.time_1 {
    animation-delay: 100ms;
}

.time_2 {
    animation-delay: 325ms;
}

.time_3 {
    animation-delay: 550ms;
}

.time_4 {
    animation-delay: 775ms;
}

.time_5 {
    animation-delay: 1000ms;
}

.time_6 {
    animation-delay: 1225ms;
}

.time_7 {
    animation-delay: 1450ms;
}

.time_8 {
    animation-delay: 1675ms;
}

.time_9 {
    animation-delay: 1900ms;
}

.time_10 {
    animation-delay: 1125ms;
}