/******KEYFRAMES******/

    /***COEUR***/
@keyframes heart {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
    
    /***LOADER***/
@keyframes loader {
    0% {
    opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
    
@keyframes loader-ring {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
} 
    
@keyframes loader-ring2 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg)
    }
}

    /***CHECK***/
@keyframes tarif-check {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-62px);
    }
}

@keyframes box-check {
    from {
        transform: translateX(62px);
        opacity: 0;
        }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes check {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}